
<div class="text-center mt-12 mb-12">
    <MudImage Width="70" Src="images/form_tables_imgs/hourglass.gif" />
    <MudText Typo="Typo.subtitle1"
        Class="mt-2 mb-4" 
        Style="font-weight: 400!important; font-family: 'Poppins'!important; font-size: 17px!important; letter-spacing: .2px!important">
        Loading please wait... 
    </MudText>
</div>
