.btn-div{
    margin-top: 15px;
}

i {
    margin-right: 8px;
}

button {
    background: #424950;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 7px;
    transition: .3s ease;
    letter-spacing: .5px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

button:hover {
    background: #0f1113;
}
