i {
    font-size: 17px;
    color: #898989;
    cursor: pointer;
    margin-right: 11px;
    background: #f2f2f2;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50px;
    transition: .3s ease;
}

.edit-icon {
    background: #5DFFA2 !important;
    color: white !important;
    border-radius: 8px !important;
}
