.header-cont[b-v8xi8lq3kk]{
    font-family: 'Poppins';

}

.header[b-v8xi8lq3kk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 25px;
    padding: 13px 13px 15px 13px;
}

.left-cont[b-v8xi8lq3kk] {
    border-right: 1px solid #ccc;
}

.left-cont img[b-v8xi8lq3kk] {
    width: 200px;
}

.title[b-v8xi8lq3kk] {
    margin-top: 70px;
    text-align: center;
}

h2[b-v8xi8lq3kk] {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 13px;
}

.title h1[b-v8xi8lq3kk]{
    font-size: 18px;
    font-weight: 600;
}

.standard-cont[b-v8xi8lq3kk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.standard[b-v8xi8lq3kk] {
    border-right: 1px solid #ccc;
}

/*ISSUANCE*/
.issued[b-v8xi8lq3kk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 20px;
    padding: 13px 13px 6px 13px;
}
/*NOTES*/
.note[b-v8xi8lq3kk] {
    border-radius: 6px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 13px;
}

.note-title[b-v8xi8lq3kk] {
    margin-bottom: 5px;
    color: #ff3d3d;
    font-weight: 500;
}

/*NOM CONF*/
.details[b-v8xi8lq3kk] {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.details-header[b-v8xi8lq3kk] {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #e7e7e7;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 13px;
}

.nonconformity[b-v8xi8lq3kk] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.nc-col[b-v8xi8lq3kk] {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nc-item[b-v8xi8lq3kk] {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.nc-checkbox[b-v8xi8lq3kk] {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    flex-shrink: 0;
}

.severity[b-v8xi8lq3kk] {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}