.done-dialog[b-9510qp2hc9] {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.img-div[b-9510qp2hc9] {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

img[b-9510qp2hc9] {
    width: 120px;
}

h5[b-9510qp2hc9] {
    font-size: 17px;
    font-weight: 500;
    color: #0A1A28;
}

span[b-9510qp2hc9] {
    font-size: 13px;
    font-weight: 400;
    color: #8a9499;
    letter-spacing: .5px;
}

.btn-div[b-9510qp2hc9] {
    margin-top: 22px;
    text-align: center;
}

button[b-9510qp2hc9] {
    border-radius: 8px;
    background: #43d297;
    color: #fff;
    width: 180px;
    height: 40px;
    font-size: 14px;
    transition: .3s ease;
}

button:hover[b-9510qp2hc9] {
    background: #28986a;
}
