.btn-div[b-11thieq83b]{
    margin-top: 15px;
}

i[b-11thieq83b] {
    margin-right: 8px;
}

button[b-11thieq83b] {
    background: #F88327;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 7px;
    transition: .3s ease;
    letter-spacing: .5px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

button:hover[b-11thieq83b] {
    background: #b65000;
}
