.box-1[b-9x47pqyl6y] {
    border-bottom: 1px solid #E7EAEE;
    display: flex;
    font-family: 'Poppins';
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h2[b-9x47pqyl6y] {
    font-size: 13px !important;
    font-weight: 500 !important;
    letter-spacing: .2px !important;
    color: #536B89 !important;
}

.title-div[b-9x47pqyl6y] {
    margin-left: 5px;
    margin-top: 5px;
}

.title-div h2[b-9x47pqyl6y] {
    color: #0A1A28!important;
}