<div class="details">
    <div class="details-header">6. FOLLOW-UP STATUS AND CLOSURE(CHECKING OF PROGRESS AND EFFECTIVENESS OF ACTIONS)</div>
     <div class="detail-2-cont">
        <div style="padding: 13px 25px;">
            <div>
                <div class="details-header-1">a. For IMS Internal Audit Findings - IMS Internal Auditor</div>
                <div class="details-header-1">b. For Health and Safety Incident/Accident & Legal Requirements - OH Officer,Safety Officer and/or Safety Inspector</div>
                <div class="details-header-1">c. For Environmental Incident/Accident & Legal Compliance Obligations - PCO and/or Environmental Engineer</div>
                <div class="details-header-1">d. For OTP & KPI, Quality related Legal Requirements & Compliance Obligations - IMS Assurance Personnel</div>
            </div>
            
        </div>
    </div>
    <div class="tbl-cont">
        <div class="row-1">
            <div class="row-header">Date</div>
            <div class="row-header">Status Of Action</div>
            <div class="row-header">Verified By</div>
        </div>
        <div class="row-2">
            The initial follow-up should occur within <span style="color: #ff3c3c;">30</span> days from the date of issuance
        </div>
        <div class="row-3">
            <div class="row-value"><input type="date" /></div>
            <div class="row-value"><textarea rows="9" /></div>
            <div class="row-value"><textarea rows="9" /></div>
        </div>
        <div class="row-2">
            The 2nd follow-up should occur within <span style="color: #ff3c3c;">90</span> days from the date of issuance
        </div>
        <div class="row-3">
            <div class="row-value"><input type="date" /></div>
            <div class="row-value"><textarea rows="9" /></div>
            <div class="row-value"><textarea rows="9" /></div>
        </div>
        <div class="row-2">
            The 3rd follow-up should occur within <span style="color: #ff3c3c;">150</span> days from the date of issuance
        </div>
        <div class="row-3">
            <div class="row-value"><input type="date" /></div>
            <div class="row-value"><textarea rows="9" /></div>
            <div class="row-value"><textarea rows="9" /></div>
        </div>
    </div>
</div>
@code {

}
