.header-cont{
    font-family: 'Poppins';

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 25px;
    padding: 13px 13px 15px 13px;
}

.left-cont {
    border-right: 1px solid #ccc;
}

.left-cont img {
    width: 200px;
}

.title {
    margin-top: 70px;
    text-align: center;
}

h2 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    margin-left: 13px;
}

.title h1{
    font-size: 18px;
    font-weight: 600;
}

.standard-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.standard {
    border-right: 1px solid #ccc;
}

/*ISSUANCE*/
.issued {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 20px;
    padding: 13px 13px 6px 13px;
}
/*NOTES*/
.note {
    border-radius: 6px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 13px;
}

.note-title {
    margin-bottom: 5px;
    color: #ff3d3d;
    font-weight: 500;
}

/*NOM CONF*/
.details {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.details-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #e7e7e7;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 13px;
}

.nonconformity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.nc-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nc-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.nc-checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    flex-shrink: 0;
}

.severity {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cbox-cont {
    border: 1px solid #ccd1da;
    border-radius: 5px;
    padding-bottom: 8px;
    margin-bottom: 9px;
}
/*TIMELINE*/
.timeline {
    max-width: 700px;
    padding-left: 20px;
    border-left: 2px solid #ffebd6;
    font-family: 'Poppins';
    margin-left: 40px;
    margin-top: 20px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #ffa44f;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    left: -40px;
    top: 0px;
    box-shadow: 0 0 0 7px white;
}

.timeline-content {
    margin-left: 40px;
}

.timeline-header {
    margin-bottom: 10px;
}

.timeline-header strong {
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

.timeline-date {
    color: #999;
    font-size: 13px;
    margin-left: 3px;
}

.timeline-message {
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    color: #444;
    line-height: 1.6;
    font-size: 13px;
}
