<div class="details">
    <div class="details-header">2. IMMEDIATE CORRECTIONS</div>
    <div class="note-title">Note: Finalize corrections with the reviewer within 7 days from issuance date.</div>

    <div class="main-input-cont">
        <div class="details-header-2">2.1 ACTIONS TO CORRECT AND/OR CONTROL THE ISSUE/S.</div>
        <div style="padding: 18px 25px;">
            <ListFileUpload title="ImmediateCorrection" isActive="true" OnFilesSelected="f => ActionsToCorrectFiles = f.ToList()" />
            <textarea rows="9" placeholder="-" @bind="Payload.ImmediateCorrection.ActionsToCorrectDescription"></textarea>
        </div>
    </div>

    <div class="main-input-cont">
        <div class="details-header-2">2.2 ACTIONS TO DEAL WITH THE CONSEQUENCE ARISING FROM THE ISSUE/S.</div>
        <div style="padding: 18px 25px 7px 25px;">
            <ListFileUpload title="ImmediateCorrection" isActive="true" OnFilesSelected="f => ActionsToDealFiles = f.ToList()" />
            <textarea rows="9" placeholder="-" @bind="Payload.ImmediateCorrection.ActionsToDealDescription"></textarea>
        </div>
    </div>
</div>

@code {

    [Parameter] public CreateCARHeaderDTO Payload { get; set; } = new CreateCARHeaderDTO();

    private List<IBrowserFile> ActionsToCorrectFiles = new();
    private List<IBrowserFile> ActionsToDealFiles = new();

    public List<IBrowserFile> GetActionsToCorrectFiles() => ActionsToCorrectFiles;
    public List<IBrowserFile> GetActionsToDealFiles() => ActionsToDealFiles;

}
