.details {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 25px;
}

.details-header {
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 13px;
}

.row-1 {
    padding-left: 25px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
}

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px 25px;
}
