
<style>
    .header .mud-typography-body1 {
        font-family: 'Poppins';
        font-size: 13px;
        color: #595961;
    }

    .header .mud-breadcrumbs {
        padding: 0px;
    }
</style>
<div class="d-flex flex-column gap-2 header mb-5">
    <MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>
    <h1>@title</h1>
</div>

@code {
    [Parameter] public string title { get; set; }
    [Parameter] public List<BreadcrumbItem> _items { get; set; }
}
