.side-label[b-rhefeftt18] {
    font-size: 10px;
    font-family: 'Poppins' !important;
    letter-spacing: 1px !important;
    font-weight: 300 !important;
    color: #fff9f4 !important;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/*USER*/
.user-box[b-rhefeftt18] {
    font-family: 'Poppins' !important;
    position: relative;
    margin-top:35px;
    border-bottom: 1px solid #ffc79b;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
}

.roles-btn[b-rhefeftt18] {
    font-size: 12px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    width: 100%;
    padding: 6px 13px;
    border-radius: 5px;
}

.roles-cont[b-rhefeftt18] {
    margin-top: 15px;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins';
    padding: 6px 13px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.roles-cont span[b-rhefeftt18]{
    font-size: 12px!important;
}

.roles-btn i[b-rhefeftt18] {
    margin-left: 10px;
}

.user-box img[b-rhefeftt18] {
    width: 90px;
    margin-right: 10px;
    border-radius: 10px;
}

.username-cont[b-rhefeftt18]{
    gap: 7px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.username-cont i[b-rhefeftt18] {
    color: #fff;
    margin-top: -3px;
    font-size: 15px;
}

.user-box h4[b-rhefeftt18] {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 6px;
    text-align: center;
}

.user-box span[b-rhefeftt18] {
    letter-spacing: .5px;
    font-size: 11px;
    color: #ffead9;
    font-weight: 400;
    text-transform: uppercase;
}


@media (min-width: 641px) {
    .navbar-toggler[b-rhefeftt18] {
        display: none;
    }

    .collapse[b-rhefeftt18] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-rhefeftt18] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
