
/*USER*/
.user-box[b-oeannibs6p] {
    font-family: 'Poppins' !important;
    position: relative;
    margin-top: 25px;
    border-bottom: 1px solid #ffc79b;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
}

.user-box img[b-oeannibs6p] {
    width: 90px;
    margin-right: 10px;
    border-radius: 10px;
}

.username-cont[b-oeannibs6p] {
    gap: 7px;
    margin-top: 18px;
}

.username-cont i[b-oeannibs6p] {
    color: #fff;
    margin-top: -3px;
    font-size: 14px;
}

.user-box h4[b-oeannibs6p] {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 6px;
    text-align: center;
}

.user-box span[b-oeannibs6p] {
    letter-spacing: .5px;
    font-size: 11px;
    color: #ffead9;
    font-weight: 400;
    text-transform: uppercase;
}
